.Wrapper {
  background-color: #28558E;
  color: var(--text-primary);
  width: 60px;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  gap: 40px;
  .logo{
    cursor: pointer;
  }

  .sideBtnsWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
